<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='role/role.css') }}">
    <title>Create Role</title>
</head>
<body>
    <header>
        <h1>Create role</h1>
    </header>

    <div class="role-container">
        <form method="post" action="{{ url_for('role_created') }}" class="role-form">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Create User">
            </div>
        </form>
    </div>
</body>
</html>