<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='group/group.css') }}">
    <title>Create Role</title>
</head>
<body>
    <header>
        <h1>Create role</h1>
    </header>

    <div class="group-container">
        <form method="post" action="{{ url_for('group_created') }}" class="group-form">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="title">Customer amount:</label>
                <input type="text" id="customer_amount" name="customer_amount" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Group">
            </div>
        </form>
    </div>
</body>
</html>